  .main__contact {
    display: -ms-grid;
    display: grid; 
    -ms-grid-column: 2;

   /*Mobile Contact/Opportunities*/
   @include all-mobile-devices {
    padding-top: 69px; 
    -ms-grid-columns: 1fr;
    -ms-grid-column: 1;
    }
  }

  @include for-desktop-up {
    .main__contact {
        display: flex;
        .contact-col-1, .contact-col-2 {
            flex: 1;
        }
        .contact__cross {
            display: none;
        }

         /*turn off on desktop*/
      .contact__mobile {
        display: none; 
      }
    }
  }  

  @include all-mobile-devices {
      .contact__mobile {
        height: 100vh;
        display: flex;
        flex-direction: column;
        color: $white;

        .contact-us, .opportunities {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
      }
  }    
  
  /*Columns*/
  .contact-col-1, .contact-col-2 {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center; }
  
  .contact-col-1 {
    background-color: #fff !important; }
  
  @media (min-width: 1200px) {
    .contact-col-1, .contact-col-2 {
      height: 100vh; } }
  
  @media (max-width: 1199px) {
    /*Remove Columns on mobile*/
    .contact-col-1, .contact-col-2 {
      position: absolute;
      width: 100%;
      top: -300vh; }
    .contact-col-1 {
      -webkit-transition: 1000ms;
      transition: 1000ms; }
    .contact-col-2 {
      -webkit-transition: 1000ms;
      transition: 1000ms; }
    .overflow-hide {
      overflow: hidden; }
    .show-column {
      top: 0px;
      margin-top: 69px;
      height: 100vh; }
    .contact-us {
      margin-bottom: 10px; } }
  
  /*Contact Column*/
  .contact-box {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
 
        .contact__title {
            text-align: center; }

        .mapouter, .gmap_canvas, #gmap_canvas {
            width: 100%;
            height: 40vh; }

            .contact__wrapper {

                .contact__opening__hours {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

                    .address {
                        p {
                            margin: 0.75rem 0rem;
                        }
                    }
                }
            }
    }
  
  /*Opportunities Column*/
  #opp_image {
    background-size: cover;
    background-position: center; 
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    .opps-container {
        max-width: 70%;

        a {
            color: $white;
        }
    }
}