/** product slider **/
.main__single-project {
  background-color: #4d4d4d;
  display: grid;
  grid-template-columns: 1fr;

  @include for-desktop-up {
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "cta_section"
      "product-slider";
  }

  @include all-mobile-devices {
    padding-top: $top-offset;
    grid-template-rows: repeat(auto-fit, minmax(max-content, 800px));
    grid-template-areas:
      "product-slider"
      "cta_section";
  }

  .product-slider {
    position: relative;
  }
}

/** Regular Project Grid Areas **/
.cta_section {
  grid-area: cta_section;
}

.product-slider {
  grid-area: product-slider;
}
