/** Showsite **/

.__showsite {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'showsite_text showsite_text'
        'swindon_video high_beeches_img'
        'swindon_showsite_text high_beeches_text'
        'showsite_drone_video showsite_drone_video' 
    ;

    grid-template-rows: max-content max-content max-content 60vh;
    -ms-grid-rows: max-content max-content max-content 60vh;

    #high-beeches-showsite {
        img {
            width: 100%;
        }
    }

    .showsite-video {
        background: grey;
    }

    .showsite-drone-video {

        .drone-video-inner {
            height: 100%;
            width: 100%;
        }
    }

    .showsite-products {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            max-width: 80%;
        }
    }
}  

.showsite-text {
    display: -ms-grid;
    display: grid;
    background-color: $dark-grey;
    width: 100%;
    padding: 1em;

    h2, p {
        color: $white;
    }

    a {
        color: $moss-green;
    }

    .showsite {
        padding: 2em;
    }

    .viewing-times {
        padding: 2em;
    }
}

@include for-desktop-up {
    .showsite-text {
        -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
        grid-template-rows: max-content;
        grid-template-areas: 
        'showsite-text viewing'
        ;

        .showsite {
            -ms-grid-row: 1;
            -ms-grid-column: 1;
        }

        .viewing-times-container {
            -ms-grid-row: 1;
            -ms-grid-column: 2;
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: end;
            justify-content: flex-end;

            .viewing-times {
            text-align: right;
            width: 50%;
            }
        }
    }
}

@include for-phone-only {
    .__showsite {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, max-content) 50vh;
        grid-template-areas: 
            'swindon_video'
            'swindon_showsite_text'
            'high_beeches_img'
            'high_beeches_text'
            'showsite_text'
            'showsite_drone_video'
        ;
    }
}

@include all-mobile-devices {
    .__showsite {
        padding-top: $top-offset;

        .showsite-text {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: minmax(auto, max-content);
        grid-template-rows: minmax(auto, max-content);
        grid-template-areas:
            'showsite-text'
            'viewing'
            ;
        }
    }
}

.__showsite { -ms-grid-row: 1; -ms-grid-column: 2; grid-area: main;}
#swindon-showsite { -ms-grid-row: 2; -ms-grid-column: 1; grid-area: swindon_video;}
#swindon-showsite-text {-ms-grid-row: 3; -ms-grid-column: 1; grid-area: swindon_showsite_text;}
#high-beeches-showsite { -ms-grid-row: 2; -ms-grid-column: 2; grid-area: high_beeches_img; }
#high-beeches-showsite-text { -ms-grid-row: 3; -ms-grid-column: 2; grid-area: high_beeches_text; }
.showsite-text { -ms-grid-row: 1; -ms-grid-column: 1; -ms-grid-column-span: 2; grid-area: showsite_text;}
.viewing-times-container { -ms-grid-row: 2; -ms-grid-column: 1; grid-area: viewing;}
.showsite-drone-video { -ms-grid-row: 4; -ms-grid-column: 1; -ms-grid-column-span: 2; grid-area: showsite_drone_video; }
