.main__designer-home {
    display: -ms-grid;
    display: grid;
    height: 100vh;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    .img_row_section {

        .container {
            h2 {
                text-align: center;
            }

            //image row styling
            .img_row_gallery {
                display: flex;
            }

            .gallery-image {
                margin: 10px;
            }
        }
    }
}



@include for-phone-only {
    .img_row_gallery {
        flex-direction: column;
    }
}

@include for-tablet-portrait-up {
    .img_row_gallery {
        justify-content: space-around;
    }

    .gallery-image {
        height: auto;
    }
}

//Brand button image row
.brand-buttons {
    border: 1px solid $grey;

    &:hover {
        opacity: 0.7;
    }
}